# First code of python in jupyter notebook

In [3]:
print("hello world")

hello world

In [27]:
import pandas as pd

* Sereies(1 Dimensional)
* DataFrames( 2 Dimensional)

In [29]:
# print(pd)
Series_data = pd.Series([1,2,3,4,5]) #Sereies is a 1 dmension array
Series_data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [30]:
DataFame = pd.Data_Frame({
    "Name":["Abbas","Sohail","jasim","fazal"],
    "Reg":[7701,7702,7703,7704],
})

AttributeError: module 'pandas' has no attribute 'Data_Frame'

In [31]:
Data_Frame

     Name   Reg
0   Abbas  7701
1  Sohail  7702
2   jasim  7703
3   fazal  7704

In [22]:
# how to change the columns names.
Data_Frame.columns

Index(['Name', 'Reg'], dtype='object')